@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
   max-width: 1300px;
   margin: auto;
   padding-left: 50px;
   padding-right: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    
}
.main{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.navbar .logo img{
      width: 90px ;
}
.nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;


}
.nav li a{
    text-decoration: none;
    color: rgb(16, 11, 83);
    font-weight: 600;
}
.nav{
    
    margin-right: 35%;
}

.icon i{
    font-size: 25px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
}
.container .box{
   width: 450px;
   height: 450px; 
   position: relative;
}
.container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
}

.container .box video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-2 h1{
    font-size: 2rem;
    color: rgb(16, 11, 83);

}
.col-2 span{
    font-size: 4rem;
    margin-left: 80px!important;
    line-height: 60px;
    margin: 20px 0;
}
.col-2 p{
    margin: 15px 0;
    font-weight: 400;
}
.btn{
    display: inline-block;
    color: white;
    background-color:rgb(16, 11, 83) ;
    padding: 8px 30px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 70%;
    text-decoration: none;
}
.col-2 a:hover{
    color:rgb(16, 11, 83)  ;
    background:white ;
    transition: 2s;
    border: 2px solid rgb(16, 11, 83);
    user-select: none;
}

